CG Global Entertainment Ltd
Expense Claim for IAICC event

Claim made by : Ivan Wong
Period :
Nov 01-30, 2024

Item

Date

1
2
3
4

Nov 01
Nov 01
Nov 01
Nov 01

Travel expense :
SZ Bay Port to CUHKSRI (Sending GPUs to CUHKSRI)
Travel expense : SZMC – CUHKSRI to FuTian Port (without receipt)
Travel expense : MTR – Lok Ma Chau to Kln Tong (without receipt)
Catering : Tips to Joe of Amaroni after lunch with Mr & Mrs Kwok (without receipt)

HKD
RMB
HKD
HKD

5
6
7

Nov 01
Nov 02
Nov 04

Purchase :
WiFi7
2.5G
3600M
Miscellaneous : Cross Region Delivery Fee of Item 5
Travel expense :
SZ Bay Port to CUHKSRI (Sending GPUs to CUHKSRI)

HKD
HKD
HKD

8
9
10

Nov 04
Nov 04
Nov 04

Travel expense : SZMC – CUHKSRI to FuTian Port(without receipt)
Travel expense : MTR – Lok Ma Chau to Kln Tong(without receipt)
Purchase :

RMB
HKD
HKD

11

Nov 05

12
13
14

Nov 05
Nov 05
Nov 05

Miscellaneous : Cross Region Delivery Fee of Item 10
Travel expense :
SZ Bay Port to CUHKSRI (Sending Workstation to
CUHKSRI)
Travel expense : SZMC – CUHKSRI to FuTian Port (without receipt)
Travel expense : MTR – Lok Ma Chau to Kln Tong(without receipt)

15

Nov 05

16
17

Nov 06
Nov 06

18
19

Nov 11
Nov 11

20

Nov 11

21

Nov 11

22

Nov 13

23

Nov 14

24

Nov 14

25
26
27
28
29
30

Nov 14
Nov 14
Nov 14
Nov 14
Nov 14
Nov 14

31

Nov 14

32
33

Nov 14
Nov 14

Description

Original Currency

網約車

华为

路由
網約車

网口穿墙

牛皮纸自粘激光喷墨不干胶
網約車

Purchase : Paper envelope x 15 units (Paper receipt)
Travel expense : Single Trip : Shenzhen Bay Port to CUHKSRI by
CUHKSRI)
Travel expense : Single Trip : CUHKSRI to Shenzhen Bay Port by

牛皮纸自粘激光喷墨不干胶

網約車 (Sending Stuff to
網約車

主題演講
贊助
課程
展覽
其他
嘉賓 運營推廣 采購 雜項 業務商談 雜項 講師 采購 雜項 采購 雜項 交通

Exchange

Total(HK)

1
1.08
1
1

22.43
5.4
41.5
100

18.13

1
1
1

388.56
9.68
18.13

5
41.5
209.77

1.08
1
1

5.4
41.5
209.77

HKD

13.06

1

13.06

HKD
RMB
HKD

16.19
5
41.5

1
1.08
1

16.19
5.4
41.5

1

33

16.14
28.49

1
1

16.14
28.49

41.5

1
1

41.5
795

HKD

19.95

1

19.95

HKD

22.43
5
41.5
Raymond did not have $100 note for tips

100
388.56
9.68

33

HKD
HKD

Purchase :
Purchase : Data Sim * 9 units (Paper receipt)
Travel expense : Single Trip : Shenzhen Bay Port to CUHKSRI by
(Total 2 persons included Jeff and Ivan)
Travel expense : Single Trip : CUHKSRI to Shenzhen Bay Port by
(Total 2 persons included Jeff and Ivan)

HKD
HKD

HKD

23.34

1

23.34

(Total 2 persons included Jeff and Ivan)
Travel expense : Single Trip Yuen Long to Hong Kong Airport by Go Go Van (Paper
Receipt)
Travel expense : Single Trip Airport to Lok Ma Chau ( Francisco + Female Guest) (Paper
receipt)

HKD

18.1

1

18.1

網約車
網約車
Travel expense : Single Trip : Shenzhen Bay Port to CUHKSRI by 網約車

Travel expense : Single Trip Single Trip Airport to Lok Ma Chau ( Fay + Samantha +
David)(Paper receipt)
Travel expense : Single Trip ( Oliver + Ivan )(Paper receipt)
Travel expense : Single Trip : Futian Port to HAMPS Hotel by
Travel expense : Single Trip : CUHKSRI to Futian Port by
Purchase : Data Sim * 14 units (Paper receipt)
Purchase : Tally counter * 2 units (Paper receipt)
Travel expense : Single Trip : Futian Port to CUHKSRI by
(Total 3 persons included Mag, Jeff and David)
Travel expense : Single Trip : CUHKSRI to Shenzhen Bay Port by
(Total 2 persons included Fanny and Ivan)
Travel expense : MTR – Lok Ma Chau to Kln Tong (without receipt)

網約車
網約車
網約車

網約車

795

HKD

Picking up overseas guests. Only viable transportation when typhoon

360

1

360

HKD

Extra tips for typhoon service with David witnessed

350

1

350

HKD
HKD
HKD
HKD
HKD
HKD

Extra tips for typhoon service with David witnessed
Extra tips for typhoon service with David witnessed

350
350
38.96
36.19

1
1
1
1
1
1

350
350
38.96
36.19
1160
80

HKD

55.88

1

55.88

HKD

25.45
41.5

1

25.45

1160
80

34

Nov 14

Travel expense : MTR – Kln Tong to Lok Ma Chau (without receipt)

41.5

35

Nov 14

36

Nov 15

37

Nov 15

38

Nov 15

39
40

Nov 17
Nov 17

41

Nov 16

42

Nov 16

43

Nov 17

44

Nov 17

Travel expense : Single Trip : Futian Port to CUHKSRI by taxi (Paper receipt)
(Total 2 persons included Yeung and Ivan)
Travel expense : Single Trip : Shenzhen Bay Port to CUHKSRI by
(Total 2 persons included Fanny and Ivan)
Travel expense : Single Trip : CUHKSRI to Shenzhen Bay Port by
(Total 2 persons included Fanny and Ivan)
Travel expenses Single Trip Cross Region Limousine for Professor Kwok from Hong Kong
University to Hamps Hotel
Travel expenses Single Trip Cross Region Limousine for Ray Li and Wilson Chow from Fotan
to CUHKSRI
Travel expenses extra trip from Fotan to Homantin for Wilson Chow collecing ID at home
Travel expense : Single Trip : Shenzhen Bay Port to CUHKSRI by
(Total 2 persons included Fanny and Ivan)

HKD

62.5

1.08

67.5

HKD

24.78

1

24.78

HKD

24.3

1

24.3

HKD

1200

1

1200

HKD
HKD

1000
200

1
1

1000
200

HKD

17.88

1

17.88

HKD

34.68

1

34.68

HKD

21.66

1

21.66

(Total 2 persons included Fanny and Ivan)

HKD

29.11

1

29.11

HKD
HKD
HKD
HKD

22.78
37.07

1
1
1
1

58
78
22.78
37.07

HKD
HKD
HKD
HKD
HKD

1
1
1
1
1

41.5
1290
22.1
37.28
41.5
8948.66

網約車
網約車

網約車
Travel expense : Single Trip : CUHKSRI to Shenzhen Bay Port by 網約車
(Total 2 persons included Fanny and Ivan)
Travel expense : Single Trip : Shenzhen Bay Port to CUHKSRI by 網約車
(Total 2 persons included Fanny and Ivan)
Travel expense : Single Trip : Dinning Venue to Shenzhen Bay Port by 網約車

45
46
47
48

Nov 20
Nov 22
Nov 25
Nov 25

Miscellaneous : Mailing Invoice to Shenzhen Rayvision Technology Co., Ltd via SF Express
(Paper receipt)
Catering : Drinks in Wanchai with expertise (Paper receipt)
Travel expense : Single Trip : Shenzhen Bay Port to CUHKSRI by
Travel expense : Single Trip : CUHKSRI to Futian Port by

49
50
51
52
53

Nov 25
Nov 27
Nov 28
Nov 28
Nov 28

Travel expense : MTR – Lok Ma Chau to Kln Tong (without receipt)
Purchase : Inks for Brothers and HP (Paper receipt)
Travel expense : Single Trip : Shenzhen Bay Port to CUHKSRI by
Travel expense : Single Trip : CUHKSRI to Futian Port by
Travel expense : MTR – Lok Ma Chau to Kln Tong (without receipt)

網約車
網約車

網約車
網約車

Total
Claim checked by
Approved

Invoice please see attached

58
78

0

0

0

113

0

136

0 388.56 1955

0

41.5
1290
22.1
37.28
41.5
109.68 6323.22

